
<div id = "landing_page">

    <div id="h1_container">
        <h1>Cafe Mosman</h1>
    </div>

    <div id="social_container">
        <%= image_tag("social_media/facebook.png") %>
        <%= image_tag("social_media/gmail.png") %>
        <%= image_tag("social_media/instagram.png") %>
        <%= image_tag("social_media/phone.png") %>
        <%= image_tag("social_media/twitter.png") %>
    </div>

</div>