
<div id = "landing_page">

    <div id="h1_container">
        <h1>Cafe Mosman</h1>
    </div>

    <nav>

    </nav>

    <div id="social_container">
        <%= image_tag "social_media/facebook.png", {class: 'social_logo'}  %>
        <%= image_tag"social_media/gmail.png", {class: 'social_logo'} %>
        <%= image_tag"social_media/instagram.png", {class: 'social_logo'} %>
        <%= image_tag"social_media/phone.png", {class: 'social_logo'} %>
        <%= image_tag"social_media/twitter.png", {class: 'social_logo'} %>
    </div>

</div>





<%# :class => "social" %>
<%# :class => "social" %>
<%# :class => "social" %>
<%# :class => "social" %>
<%# :class => "social" %>